<section id="contact" class=" text-ctp-text section-info">
	<h1 class="font-extrabold text-4xl text-center mb-12">CONTACTO</h1>
	<form class="flex flex-col gap-2 bg-ctp-mantle p-8 rounded-lg text-ctp-text max-w-[550px] mx-auto text-base">
		<label class="" for="nombre">Nombre</label>
		<input
			type="text"
			placeholder="Tu nombre"
			class="bg-ctp-surface0 p-3 w-full rounded-lg text-ctp-text"
		/>
		<label for="email">Email</label>
		<input
			type="email"
			placeholder="ejemplo@mail.com"
			class="bg-ctp-surface0 p-3 w-full rounded-lg text-ctp-text"
		/>
		<label for="mensaje">Mensaje</label>
		<textarea name="mensaje" rows="4" id="mensaje" placeholder="Escriba su mensaje..." class="bg-ctp-surface0 p-3 w-full rounded-lg text-ctp-text field-sizing-content"></textarea>
		<div class="flex flex-row justify-center mt-4 text-ctp-crust">
			<button class="bg-gradient-to-r from-ctp-red to-ctp-peach align-self-center px-3 py-2 rounded-lg font-semibold"
			>Enviar</button>
		</div>
	</form>
</section>
