<section id="experiences" class="my-20 text-cat-text w-full p-6 section-info">
	<h1 class="font-extrabold text-4xl text-center m-20 text-cat-text">EXPERIENCIA</h1>
	<div class="flex flex-col items-center justify-center gap-8 bg-cat-mantle p-4 rounded-lg text-cat-text">
		<div class="flex flex-col items-center justify-center gap-4">
			<h2 class="font-bold text-2xl">Empresa</h2>
			<p class="text-cat-subtext0">Cargo</p>
			<p class="text-cat-subtext0">Fecha</p>
			<p class="text-cat-subtext0">Descripcion</p>
		</div>
		<div class="flex flex-col items-center justify-center gap-4">
			<h2 class="font-bold text-2xl">Empresa</h2>
			<p class="text-cat-subtext0">Cargo</p>
			<p class="text-cat-subtext0">Fecha</p>
			<p class="text-cat-subtext0">Descripcion</p>
		</div>
		<div class="flex flex-col items-center justify-center gap-4">
			<h2 class="font-bold text-2xl">Empresa</h2>
			<p class="text-cat-subtext0">Cargo</p>
			<p class="text-cat-subtext0">Fecha</p>
			<p class="text-cat-subtext0">Descripcion</p>
		</div>
	</div>
</section>
