---
import ProjectCard from "../ProjectCard.astro";
---

<section id="projects" class="text-center text-ctp-text section-info">
	<h1 class="font-extrabold text-4xl pt-12 pb-4">PROYECTOS</h1>
	<div
		class="mt-4 md:mx-4 bg-ctp-mantle p-4 grid grid-cols-2 md:grid-cols-4 gap-4 rounded-lg"
	>
		<ProjectCard
			img="./projects_preview/defaultPreview.webp"
			title="Project sample"
			description="This is a sample project"
			link="/project sample"
		/>
		<ProjectCard
			img="./projects_preview/defaultPreview.webp"
			title="Project sample"
			description="This is a sample project"
			link="/project1"
		/>
		<ProjectCard
			img="./projects_preview/defaultPreview.webp"
			title="Project sample"
			description="This is a sample project"
			link="/project1"
		/>
		<ProjectCard
			img="./projects_preview/defaultPreview.webp"
			title="Project sample"
			description="This is a sample project"
			link="/project1"
		/>
	</div>
</section>
