---
import Layout from "../layouts/Layout.astro";
import Main from "../components/sections/Main.astro";
import Projects from "../components/sections/Projects.astro";
import Experience from "../components/sections/Experience.astro";
import Contact from "../components/sections/Contact.astro";
---

<Layout>
	<div class="views" id="carousel-views">
		<div class="carousel-track" id="carousel-track">
			<div class="carousel-slide" data-section="main">
				<Main />
			</div>
			<div class="carousel-slide" data-section="projects">
				<Projects />
			</div>
			<div class="carousel-slide" data-section="experience">
				<Experience />
			</div>
			<div class="carousel-slide" data-section="contact">
				<Contact />
			</div>
		</div>
	</div>
</Layout>

