---
import Topbar from '../components/Topbar.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<section class="text-center m-20 text-cat-text">
		<h1 class="font-extrabold">SAMPLE TEXT</h1>
		<p class="font-bold mt-4">This is a sample text</p>
	</section>
	<section class="text-center m-20 text-cat-text">
		<h1 class="font-extrabold">PROJECTS</h1>
			<div class="mt-4 mx-12 bg-cat-mantle p-4 rounded-lg">
				<h2 class="font-bold">Project 1</h2>
				<p class="font-light">This is a sample project</p>
			</div>
	</section>
</Layout>
